<thead>
    <tr>
        <th>
            <div id="catText">
                <h3 class="subtitle has-text-weight-bold m-lg-left is-size-6-mobile category" data-cat={{category}}>{{category}}</h3>
            </div>
            <div id="catInput">
                <input type="text" name="editCatName" id="editCatName" value={{cateogry}}>
            </div>
        </th>
        <th>
            <div id="catAmountText">
                <span class="is-size-6 is-size-7-mobile">Total: </span>
                <span class="subtitle is-size-7-mobile has-text-success">{{total}}</span>
            </div>
        </th>
        <th>
            <span class="icon is-medium"><i class="fas fa-caret-up fa-2x caret-margin" data-category={{category}}></i></span>
        </th>
        <th>
            <div class="dropdown is-pulled-right">
                    <div class="dropdown-trigger">
                        <span aria-haspopup="true" aria-controls="{{category}}-menu"><i class="icon fas fa-ellipsis-h"></i></span>
                    </div>
                    <div class="dropdown-menu" id="{{category}}-menu" role="menu">
                        <div class="dropdown-content p-sm">
                            <button class="button is-info is-fullwidth m-xsm-bottom" id="{{category}}-edit">Edit</button>
                            <button class="button is-danger is-fullwidth" id="{{category}}-delete">Delete</button>
                        </div>
                    </div>
                </div>
        </th>
    </tr>
</thead>