<thead>
    <tr>
        <th>
            <h3 class="subtitle has-text-weight-bold m-lg-left">{{category}}</h3>
        </th>
        <th>
            <span class="is-size-6">Total: </span>
            <span class="subtitle has-text-success">{{total}}</span>
        </th>
        <th>
            <span class="icon is-medium"><i class="fas fa-caret-up fa-2x caret-margin" data-category={{category}}></i></span>
        </th>
        <th>
            <div class="dropdown is-pulled-right">
                    <div class="dropdown-trigger">
                        <span aria-haspopup="true" aria-controls="{{category}}-menu"><i class="icon fas fa-ellipsis-h"></i></span>
                    </div>
                    <div class="dropdown-menu" id="{{category}}-menu" role="menu">
                        <div class="dropdown-content p-sm">
                            <button class="button is-info is-fullwidth m-xsm-bottom" id="{{category}}-edit">Edit</button>
                            <button class="button is-danger is-fullwidth" id="{{category}}-delete">Delete</button>
                        </div>
                    </div>
                </div>
        </th>
    </tr>
</thead>