
<tbody class="entries hidden p-sm-bottom tbody-corrections">
    
    <tr>
        <td colspan="4">
            <div class="flex-center">
                {{> input}}
            </div>
        </td>
    </tr>
    
    

    {{#each entries}}
        <tr>
            <td>
                <h3 class="entry m-xlg-left" id="entry-{{name}}">{{name}}</h3>
            </td>
            <td>
                <span class="amount m-sm-left" id="amount-{{name}}">{{amount}}</span>        
            </td>
            <td>
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <span aria-haspopup="true" aria-controls="{{name}}-menu"><i class="icon fas fa-ellipsis-h"></i></span>
                    </div>
                    <div class="dropdown-menu" id="{{name}}-menu" role="menu">
                        <div class="dropdown-content p-sm">
                            <button class="button is-info is-fullwidth m-xsm-bottom" id="{{name}}-edit">Edit</button>
                            <button class="button is-warning has-text-white is-fullwidth m-xsm-bottom" id="{{name}}-move">Move</button>
                            <button class="button is-danger is-fullwidth" id="{{name}}-delete">Delete</button>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    {{/each}}

</tbody>

    