        <tr id="entry-{{id}}" data-category={{CategoryId}}>
            <td>
                <div class="entryText">
                    <h3 class="entry m-xlg-left is-size-7-mobile" data-entry="{{id}}">{{entry}}</h3>
                </div>
                <div class="entryInput hidden">
                    <input type="text" class="input" name="editEntry" id="editEntry-{{id}}" value={{entry}}>
                </div>
                
            </td>
            <td>
                <div class="amountText">
                    <span class="amount m-sm-left is-size-7-mobile" id="amount-{{id}}">{{amount}}</span> 
                </div>
                <div class="amountInput hidden">
                    <input type="text" class="input" name="editAmount" id="editAmount-{{id}}" value={{amount}}>
                </div>
            </td>
            <td>
                <div class="saveBtn hidden">
                    <button class="button is-primary">
                        <i class='far fa-save'S></i>
                    </button>
                </div>
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <span aria-haspopup="true" aria-controls="{{id}}-menu"><i class="icon fas fa-ellipsis-h"></i></span>
                    </div>
                    <div class="dropdown-menu" id="{{id}}-menu" role="menu">
                        <div class="dropdown-content p-sm">
                            <button class="button is-info is-fullwidth m-xsm-bottom" data-action="edit" id="{{id}}_edit">Edit</button>
                            <button class="button is-warning has-text-white is-fullwidth m-xsm-bottom" data-action="move"id="{{id}}_move">Move</button>
                            <button class="button is-danger is-fullwidth" id="{{id}}_delete" data-action="delete">Delete</button>
                        </div>
                    </div>
                </div>
                
            </td>
            <td></td>
        </tr>



    