
<tbody class="entries hidden p-sm-bottom tbody-corrections">
    
    <tr>
        <td colspan="3">
            <div class="flex-center">
                <div class="field has-addons p-sm">
                    <div class="control entry-width">
                        <input type="text" class="input is-primary" id="newEntry{{category}}" placeholder="New entry">
                    </div>
                    <div class="control amount-width">
                        <input type="text" class="input is-primary" id="newAmount{{category}}" placeholder="Amount">
                    </div>
                    <div class="control">
                        <span class="select is-primary">
                            <select id="category{{category}}" disabled>
                                <option value="{{category}}">{{category}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="control">
                        <button class="button is-primary" id="add{{category}}">Add</button>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    

    {{#each entries}}
        <tr>
            <td>
                <h3 class="m-xlg-left">{{name}}</h3>
            </td>
            <td>
                <span class="m-sm-left">{{amount}}</span>        
            </td>
            <td>
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <span aria-haspopup="true" aria-controls="{{name}}-menu"><i class="icon fas fa-ellipsis-h"></i></span>
                    </div>
                    <div class="dropdown-menu" id="{{name}}-menu" role="menu">
                        <div class="dropdown-content p-sm">
                            <button class="button is-info is-fullwidth m-xsm-bottom" id="{{name}}-edit">Edit</button>
                            <button class="button is-info is-fullwidth m-xsm-bottom" id="{{name}}-move">Move</button>
                            <button class="button is-danger is-fullwidth" id="{{name}}-delete">Delete</button>
                        </div>
                    </div>
                </div>
                
            </td>
        </tr>
    {{/each}}

</tbody>

    